.pageContainer {
    height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.scrollableContent {
    flex: 1;
    overflow: auto;
}

.contentWrapper {
    padding: 2rem;
    padding-bottom: 4rem;
    min-width: min-content;
}

.header {
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}