.dashboardWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}